REACT_APP_RAPID_API_URL = 'https://judge0-ce.p.rapidapi.com/submissions'
REACT_APP_RAPID_API_HOST ='judge0-ce.p.rapidapi.com' 
REACT_APP_RAPID_API_KEY = '2553ed6019mshb852c1f1310fbecp1d3165jsne595ddc0fd16'